/* The side navigation menu */
.push-content {
    width: 250px!important;
    transition: margin-left .5s;
    padding: 20px;
}
.main-content {
    margin-left: 250px;
    background-color: rgba(0,0,0,0.4);
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    /* The navigation menu links */
    a {
      padding: 8px 8px 8px 32px;
      font-size: 25px;
      color: #c3c3c3;
      display: block;
      transition: 0.3s;
      cursor: pointer;
      /* When you mouse over the navigation links, change their color */
      &:hover {
        color: #f1f1f1;
      }
    }
  }  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .real-content p{
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    bottom: 0;
    position: absolute;    
  }