.menu-container {
  display: inline-block;
  cursor: pointer;
  background: #333;
  border: 2px solid #333;
  div {
    width: 35px;
    height: 5px;
    background-color: #c3c3c3;
    margin: 6px 0;
    transition: 0.4s;
    &:hover {
      background-color: white
    }
  }
}

.change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    .bar2 {opacity: 0;}
    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
}